
{% extends "layouts/base.html" %}
{% load static %}

{% block titulo %} Listado Vehiculos{% endblock titulo %}

{% block contenido %}
<header class="container py-5">
    <section>
        <h1 class="text-center py-3">Listado Vehiculos</h1>
    </section>
</header>
<main>
    <section>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Serial Carroceria</th>
                <th scope="col">Serial Motor</th>
                <th scope="col">Categoria</th>
                <th scope="col">Precio</th>
                <th scope="col">Condicion de Precio</th>
              </tr>
            </thead>
            <tbody>
                {% for vehiculo in vehiculos %}
                <tr>
                    <th scope="row">{{vehiculo.id}}</th>
                    <td>{{vehiculo.matrca}}</td>
                    <td>{{vehiculo.modelo}}</td>
                    <td>{{vehiculo.serial_carroceria}}</td>
                    <td>{{vehiculo.serial_motor}}</td>
                    <td>{{vehiculo.categoria}}</td>
                    <td>{{vehiculo.precio}}</td>
                    {% if vehiculo.precio > 0 and vehiculo.precio<=10000 %}
                        <td>Bajo</td>
                    {% endif %}
                    {% if vehiculo.precio > 10000 and vehiculo.precio<=30000 %}
                        <td>Medio</td>
                    {% endif %}
                    {% if vehiculo.precio > 30000 %}
                        <td>Alto</td>
                    {% endif %}
                  </tr>  
                {% endfor %}
              
            </tbody>
          </table>
    </section>
</main>


{% endblock contenido %}