
{% extends "layouts/base.html" %}
{% load static %}

{% block titulo %} Listado Vehiculos{% endblock titulo %}

{% block contenido %}
<header class="container py-5">
    <section>
        <h1 class="text-center py-3">Listado Vehiculos</h1>
    </section>
</header>
<main>
    <section>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Serial Carroceria</th>
                <th scope="col">Serial Motor</th>
                <th scope="col">Categoria</th>
                <th scope="col">Precio</th>
                <th scope="col">Condicion de Precio</th>
              </tr>
            </thead>
            <tbody>
                {% for v in vehiculos %}
                <tr>
                    <th scope="row">{{v.id}}</th>
                    <td>{{v.marca}}</td>
                    <td>{{v.modelo}}</td>
                    <td>{{v.serial_carroceria}}</td>
                    <td>{{v.serial_motor}}</td>
                    <td>{{v.categoria}}</td>
                    <td>{{v.precio}}</td>
                    {% if v.precio <= 10000 %}
                        <td>Bajo</td>
                    {% elif v.precio <= 30000 %}
                        <td>Medio</td>
                    {% else %}
                        <td>Alto</td>
                    {% endif %}
                  </tr>  
                {% endfor %}
              
            </tbody>
          </table>
    </section>
</main>


{% endblock contenido %}